$primary-text: #222;
$border-color: #ddd;
$primary-font: 'Roboto Condensed', sans-serif;

.form-wrapper{
    border: 1px solid $border-color;
    margin-top: 150px;
    padding: 30px;
}
form input{
    margin-bottom: 15px;
}
.welcome{
    margin-bottom: 30px;
}